body{
    background-color:#FFC0CB;
    height: 100%;
}

.wrapper .container{
    display: grid;
      grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1rem;
    margin: 4rem auto;
}

.left{
    padding: 1rem;
  /*  margin-left: 10rem; */
}
h1{
    font-size: 2.4rem;
    line-height: 1.2;
    color: white;
}
p{
    font-size: 1.2rem;
    color: white;
}
.right{
    padding: 1rem;
}
.btns{
   width: 64%;
   font-size: 11px;
   padding: 10px;
   background-color: blueviolet;
   color: white;
   border-radius: 5px ;
   border: 1px solid blueviolet;
}
  .register-form{
    background-color: #FFFFFF;
    padding: 10px;
    width: 400px;  
    display: flex;
    flex-direction: column;
    border-radius: 5px ;
}
 input{
    padding:24px 4px;
   font-size: 18px;
   width: 95%;
   text-align: left;
   align-items: center;
   margin-bottom: 10px;
   border: 1px solid #EAEAEA;
   border-radius: 5px ;
   padding: 1rem 0;
 }
 input:hover{
    color: grey;
 }
 .btn{
    width: 100%;
    font-size: 11px;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 5px ;
    margin: 20px 0;
    border: 1px solid green;
 }
 form p{
    font-size: 10px;
    color:#474747 ;
    align-items: center;
    margin: auto;
}
.span-p{
    color: red;
}
@media screen and (max-width: 768px){
    .wrapper .container{
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }
    h1{
        font-size: 1.5rem;
        line-height: 1.2;
      }
      p{
        font-size: 1rem;
      }
      .btns{
        width: 70%;
        margin: 1rem 0;
      }
       .btn{
    width: 100%;
    margin: 1rem 0;
  }
  input{
    width: 100%;
  }
}